{% extends "main/base.html" %}
{% load tag_filter %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<p>Please specify your email address to receive instructions for resetting it.</p>

{% if form.errors %}
    <p>{{ form.email.errors }}</p>
{% endif %}
<div class="col-md-6 col-md-offset-3">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Reset Password</h3>
        </div>
        <div class="panel-body">
            <form method="post" class="form-horizontal" action="">
                {% csrf_token %}

                {% for field in form %}
                <div class="form-group">
                    <span class="text-danger">{{ field.errors }}</span>
                    <small class="">{{field.help_text}}</small>
                    {{ field|label_with_classes:"control-label col-sm-4"}}
                    <div class="col-sm-8">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <input class="btn btn-success btn-sm" type="submit"
                        value="Reset password" />
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
