<!DOCTYPE html>
<html lang="en">
<head>
  <title> PUC - {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles%}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href='{% static "css/base.css"%}'>
  <script type="text/javascript" src='{% static "js/base.js"%}'></script>

</head>
    <body>
        {% include "main/title_bar.html" %}
        <div class="container">
          <div class="row">
            {% include "main/messages.html" %}
          </div>
        </div>
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
        {% include "main/footer.html" %}
        {% block javascript %} {% endblock %}
    </body>

</html>
