
<nav class="navbar navbar-default">
    <div class="navbar-inner container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PUC - Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left title-bar">
                {% if user.is_authenticated %}
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'article_list' %}">Article</a>
                </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right title-bar">
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/dashboard">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'settings' %}">Profile ({{user.username}})</a>
                        </li>
                        <li>
                            <a href="#">--</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'change_password' %}">Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout'%}">Logout</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                    <li><a href="{% url 'login'%}">Login</a></li>
                    <li><a href="{% url 'register'%}">Register</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
