{% extends 'main/base.html' %}
{% load tag_filter %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-2">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Registration</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{% url 'register' %}"
                class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <span class="text-danger">{{ field.errors }}</span>
                    <small class="">{{field.help_text}}</small>
                    {{ field|label_with_classes:"control-label col-sm-4"}}
                    <div class="col-sm-8">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-6 text-right">
                       <input class="btn btn-danger btn-sm" type="reset" value="Reset" />
                    </div>
                    <div class="col-sm-6 text-right">
                        <input class="btn btn-success btn-sm" type="submit"
                        value="Login" />
                    </div>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
