{% extends "main/base.html" %}
{% block title %}Landing Page{% endblock %}
{% block content %}

<div class="container">
    {% if article_list %}
        {% for article in article_list %}
        <div class="well">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placekitten.com/150/150">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{% url 'article' article.id%}">{{ article.title }}</a>
                    </h4>
                    <p class="text-right">{{ article.user.username }}</p>
                    <p>{{ article.content|truncatechars:100 }}</p>
                    <ul class="list-inline list-unstyled">
                        <li>
                            <span>
                                <i class="glyphicon glyphicon-calendar"></i>
                                {{ article.published_on }}
                            </span>
                        </li>
                        <li> </li>
                        <span>
                            <i class="glyphicon glyphicon-comment"></i>
                            2 comments
                        </span>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}
